{
  "singleQuote": true,
  "trailingComma": "none",
  "TrailingCooma": "none",
  "semi":false,
  "printWidth": 120,
  "moSemi":false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}